<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <title>LQuiz:Create Question Page</title>
    <%- include('parts/head') %>
    <script src="../js/create-question.js"></script>
</head>
<body>
    <form method="post" id="frm"></form>
    <%- include('parts/menu', {current_menu: 3}) %>
    <div class="container">
        <input type="text" name="question" id="question" class="input" placeholder="question" required>
        <input type="text" name="answer" id="answer" class="input" placeholder="answer" required>
        <input type="number" name="reward" id="reward" class="input" placeholder="reward" required>
        <input type="number" name="num" id="num" class="input" placeholder="num" required>
        <input type="text" name="url" id="url" class="input" placeholder="url">
        <button type="button" id="btn-login" class="btn btn-primary" onclick="sendQuestion()">Send Question</button>
    </div>
</body>
</html>