<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <title>LQuiz:Create Question Page</title>
    <%- include('parts/head') %>
    <link rel="stylesheet" href="../css/create-question.css">
    <script src="../js/create-question.js"></script>
</head>
<body>
    <form method="post" id="frm"></form>
    <%- include('parts/menu', {current_menu: 3}) %>
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="label">Question</div>
                <div class="value">
                    <textarea name="question" id="question" class="input" placeholder="MAX:256BYTE" rows="3" required></textarea>
                </div>
                <div class="label">Answer</div>
                <div class="value">
                <input type="text" name="answer" id="answer" class="input" placeholder="MAX:256BYTE" required>
                </div>
                <div class="label">Reward</div>
                <div class="value">
                    <input type="number" name="reward" id="reward" class="input" placeholder="MAX:100LSK" required>
                </div>
                <div class="label">Number of Recipients</div>
                <div class="value">
                    <input type="number" name="num" id="num" class="input" placeholder="MAX:100" required>
                </div>
                <div class="label">URL</div>
                <div class="value">
                    <input type="text" name="url" id="url" class="input" placeholder="http or https">
                </div>
                <button type="button" id="btn-login" class="btn" onclick="sendQuestion()"><i class="fas fa-share-square"></i>Send Question</button>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <%- include('parts/footer') %>
</body>
</html>