<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <title>LQuiz:Login Page</title>
    <%- include('parts/head') %>
    <link rel="stylesheet" href="../css/login.css">
    <script src="../js/login.js"></script>
</head>
<body>
    <form method="post" id="frm"></form>
    <div class="container">
        <div class="row">
            <h1 class="title">LQuiz</h1>
        </div>
        <div class="row">
            <% if (msg != "") { %>
            <div class="col s12 message <%= type %>"><%= msg %></div>
            <% } %>
            <div class="col s12">
                <a href="javascript:void 0;" class="btn light-blue darken-4" onclick="login()">Login</a>
                <a href="javascript:void 0;" class="btn" onclick="guestLogin()">Guest Login</a>
                <a href="javascript:void 0;" class="link" onclick="createAccount()">Create a LQuiz Account</a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 red-text text-darken-3">LQuiz is a PoC built with Lisk SDK.</div>
        </div>
    </div>
</body>
</html>