<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <title>LQuiz:Login Page</title>
    <%- include('parts/head') %>
    <link rel="stylesheet" href="../css/login.css">
    <script src="../js/login.js"></script>
</head>
<body>
    <form method="post" id="frm"></form>
    <div class="container">
        <div class="row">
            <div class="col-1 col-sm-2 col-md-3"></div>
            <h1 class="title">LQuiz<span style="font-size:0.8rem;margin-left:10px;">is a PoC built with Lisk SDK.<span></h1>
        </div>
        <div class="row">
            <div class="col-1 col-sm-2 col-md-3"></div>
            <div class="col-10 col-sm-8 col-md-6">
                <% if (msg != "") { %>
                <div class="alert alert-<%= type %>"><%= msg %></div>
                <% } %>
                <button type="button" id="btn-login" class="btn btn-primary" onclick="login()"><i class="fas fa-sign-in-alt"></i>Login</button>
                <button type="button" id="btn-guest-login" class="btn btn-info" onclick="guestLogin()"><i class="fas fa-sign-in-alt"></i>Guest Login</button>
                <button type="button" id="btn-register" class="btn btn-link" onclick="createAccount()"><i class="fas fa-user-plus"></i>Create a LQuiz Account</button>
            </div>
            <div class="col-1 col-sm-2 col-md-3"></div>
        </div>
    </div>
</body>
</html>