<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <title>LQuiz:My Answerd Question Page</title>
    <%- include('parts/head') %>
    <link rel="stylesheet" href="../css/question.css">
    <script src="../js/question.js"></script>
    <script>
        const getMyAnswerdQuestion = () => {
            const answerId = document.querySelector("#address").value.toUpperCase();
            const offset = document.querySelector("#offset").value;
            let param = `answerId=${answerId}&offset=${offset}`;
            getQuestion("question", param);
        }
    </script>
</head>
<body onload="getMyAnswerdQuestion()">
    <form method="post" id="frm"></form>
    <input type="hidden" id="offset" value="<%= offset %>">
    <%- include('parts/menu', {current_menu: 5}) %>
    <div id="question-total-count" style="display: none;"></div>
    <div id="question-page-count" style="display: none;"></div>
    <div class="container">
        <div class="row" style="height: 38px">
            <div class="col-1"></div>
            <div class="col-10" style="text-align: center;">- Answered Questions -</div>
            <div class="col-1"></div>
        </div>
        <div id="question-list"></div>
    </div>
    <%- include('parts/footer') %>
</body>
</html>