@charset "utf-8";
* {
    font-family: 'Noto Sans JP', sans-serif, monospace;
    font-size: 100%;
}

i {
    margin-right: 5px;
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea {
    font-size: 1rem;
    border: 0;
    border-bottom: 2px solid #eee;
    width: 100%;
    padding: 5px 10px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus {
    outline: none;
    border: 0;
    border-bottom: 2px solid #69dce4;
    width: 100%;
    padding: 5px 10px;
}

hr {
    margin: 5px;
}

.title {
    font-family: 'Galindo', cursive;
}

.passphrase {
    width: 60px !important;
    margin: 5px !important;
}

.howto-content {
    font-size: 0.8rem;
    overflow-y: auto;
    max-height: 250px;
    margin: 5px;
    padding: 5px;
}

.howto-content div {
    text-align: left !important;
}

.howto-content .value {
    background-color: #eee;
    border-radius: 5px;
    padding: 5px;
}

.cofirm-content {
    font-size: 0.8rem;
    margin: 5px;
    padding: 5px;
    background-color: #eee;
    border-radius: 5px;
}

#footer {
    font-size: 0.65rem;
    width: 100%;
    background-color: rgb(217, 228, 247);
    padding: 1px 3px;
}

/*
 override: bootstrap4
*/
.alert {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: transparent;
    border-color: transparent;
}

.alert::before {
    content: "message: ";
}

.container {
    z-index: 500;
}

.navbar {
    background-color:rgb(217, 228, 247);
    padding: 0px 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    font-size: 1.75rem;
    margin-left: 10px;
}

.nav-item {
    padding: 0px 5px;
}

.nav-link {
    border: 0;
    border-bottom: 2px solid transparent;
    color: #7387bb !important;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: 2px solid #7387bb;
    font-weight: bold;
}

.nav-link.active,
.nav-link.active:hover {
    border: 0;
    border-bottom: 2px solid #314372;
    color: #314372 !important;
    font-weight: bold;
}

.dropdown-toggle {
    border: 0;
    border-bottom: 2px solid transparent;
    color: #314372 !important;
    font-weight: bold;
}

.dropdown-item {
    color: #314372 !important;
}

.dropdown-item:hover {
    background-color: rgba(115, 165, 255, 0.15);
}

.dropdown-item.active {
    background-color: rgba(115, 165, 255, 0.3)
}

@media screen and (max-width:991px) {
    .navbar-collapse.show {
        margin-bottom: 5px !important;
    }
    .nav-link {
        border-bottom: none !important;
    }
    .navbar .dropdown-menu {
        display: block !important;
    }
}

/*
 override: SweetAlaet2
*/
.swal2-icon {
    margin-bottom: 10px;
}
