@charset "utf-8";
* {
    font-family: 'Noto Sans JP', sans-serif, monospace;
    font-size: 100%;
}

i {
    margin-right: 5px;
}

input[type="text"],
input[type="password"],
input[type="number"]  {
    border: 0;
    border-bottom: 2px solid #eee;
    width: 100%;
    padding: 5px 10px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus  {
    outline: none;
    border: 0;
    border-bottom: 2px solid #08aeb9;
    width: 100%;
    padding: 5px 10px;
}

.title {
    font-family: 'Galindo', cursive;
}

#question-list {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
}

.alert {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: transparent;
    border-color: transparent;
}

.alert::before {
    content: "message: ";
}

.passphrase {
    width: 60px !important;
    margin: 5px !important;
}

/*
 override: bootstrap4
*/
.navbar {
    background-color:#DFE6F2;
    padding: 0px 15px;
}

.navbar-brand {
    font-size: 1.75rem;
    margin-left: 10px;
}

.nav-item {
    padding: 0px 5px;
}

.nav-item.active {
    border: 0;
    border-bottom: 2px solid #708dcf;
    font-weight: bold;
}

.nav-link {
    color: #576a9c !important;
}

.dropdown-menu {
    background-color: #F7F9FB;
}