@charset "utf-8";
ul {
    padding-left: 20px;
    margin-bottom: 0px;
}

.container {
    margin-top: 65px;
    margin-bottom: 100px;
}

.label {
    background-color: #254898;
    border-radius: 5px 5px 0 0;
    padding: 10px 5px;
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
    width: 100%;
    font-size: 0.8rem;
}

.value {
    border: 1px solid #254898;
    padding: 10px 5px;
    width: 100%;
    font-size: 0.7rem;
}
